---
definitions:
  navigate:
    type: 'navigate-step'
    config:
      url: 'https://httpbin.org/image'
  validate:
    type: 'validate-step'
    config:
      selector: 'img'
      hash: '02f4e7bf5f3df71e6b971e1c0d554874'
  sleep:
    type: 'wait-step'
    config:
      duration: '1s'
flows:
  httpbin:
    config:
      frequency: '@every 10s'
      timeout: '15s'
    steps:
      - navigate
      - sleep
      - validate
